/* Start Variables */
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --border-grey-color: #CCC;
}
/* End Variables */
/* Start Global Rules */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}
*:focus {
  outline: none;
}
html {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -ms-scroll-behavior: smooth;
  -o-scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}
/* End Global Rules */
/* Start Sidebar */
.sidebar {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}
.sidebar .sticky-element {
  height: fit-content;
  position: sticky;
  top: 20px;
}
.sidebar .sticky-element > h3 {
  padding-bottom: 20px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .sidebar .sticky-element > h3::before,
  .sidebar .sticky-element > h3::after {
    content: "";
    background-color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .sidebar .sticky-element > h3::before {
    height: 2px;
    width: 80px;
    bottom: 0;
  }
  .sidebar .sticky-element > h3::after {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 4px solid white;
    bottom: -9px;
  }
}
.sidebar a {
  transition-duration: 300ms;
  margin-bottom: 5px;
}
.sidebar a.active,
.sidebar a:hover {
  background-color: #f6f6f6;
}
.sidebar ul li a span {
  margin-left: 10px;
  font-size: 14px;
}
@media (max-width: 767px) {
  .sidebar {
    width: 58px;
    padding: 10px;
  }
  .sidebar .sticky-element > h3 {
    font-size: 13px;
    margin-bottom: 15px;
    padding-bottom: 0;
  }
}
/* End Sidebar */
/* Start Content*/
.content {
  overflow: hidden;
}
/* Start Head  */
.head .search::before {
  content: '\f002';
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 14px;
  color: var(--grey-color, #888);
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.head .search input[type="search"] {
  display: block;
  width: 160px;
  padding: 10px 0 10px 30px;
  margin-left: 5px;
  border: 1px solid var(--border-grey-color);
  border-radius: 10px;
  transition-duration: 0.3s;
}
.head .search input[type="search"]:focus {
  width: 200px;
}
.head .search input[type="search"]::placeholder {
  font-size: 13px;
}
.head .search input[type="search"]:focus::placeholder {
  color: transparent;
}
.head .icons .notification::after {
  content: "";
  background-color: var(--red-color);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  right: -6px;
  top: -6px;
}
.head .icons img {
  width: 32px;
  margin-left: 15px;
}
/* End Head */
/* Start H1 Style */
.page h1 {
  margin: 20px 20px 40px;
}
.page h1::before,
.page h1::after {
  height: 3px;
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
}
.page h1::before {
  width: 120px;
  background-color: white;
}
.page h1::after {
  width: 40px;
  background-color: black;
}
/* End H1 Style */
/* Start Wrapper */
.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
}
/* End Wrapper */
/* Start Welcome Widget */
.welcome {
  overflow: hidden;
}
@media (max-width: 767px) {
  .welcome .intro {
    padding-bottom: 30px;
  }
}
.welcome .intro img {
  width: 200px;
  margin-bottom: -10px;
}
.welcome > img {
  width: 64px;
  height: 64px;
  border: 5px solid white;
  border-radius: 50%;
  box-shadow: 0 0 5px #ddd;
  margin-top: -32px;
  margin-left: 20px;
}
@media (max-width: 767px) {
  .welcome > img {
    margin-left: auto;
    margin-right: auto;
  }
}
.welcome .body {
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
}
.welcome .body > div {
  flex: 1;
}
@media (max-width: 767px) {
  .welcome .body > div:not(:last-child) {
    margin-bottom: 20px;
  }
}
.welcome .visit {
  margin: 0 15px 15px auto;
  transition-duration: 0.3s;
}
.welcome .visit:hover {
  background-color: var(--blue-alt-color);
}
/* End Welcome Widget */
/* Start Quick Widget */
.quick-draft form .input {
  caret-color: var(--grey-color);
}
.quick-draft form textarea.input {
  height: 180px;
  resize: none;
}
.quick-draft form .input::placeholder {
  font-size: 13px;
}
.quick-draft form input[type="submit"] {
  margin-left: auto;
  transition-duration: 0.3s;
}
.quick-draft form input[type="submit"]:hover {
  background-color: var(--blue-alt-color);
}
/* End Quick Widget */
/* Start Yearly Widget */
.yearly .icon {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}
.yearly .info {
  flex: 1;
}
.yearly .info .progress {
  height: 4px;
}
.yearly .info .progress > span {
  height: 100%;
}
.yearly .info .progress > span > span {
  position: absolute;
  font-size: 13px;
  top: -35px;
  right: 0px;
  transform: translateX(50%);
  padding: 5px;
}
.yearly .info .progress > span > span::before {
  content: "";
  border: 5px solid;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.yearly .row.money .icon,
.yearly .row.money .info .progress {
  background-color: rgba(0, 119, 255, 0.200);
}
.yearly .row.code .icon,
.yearly .row.code .info .progress  {
  background-color: rgba(245, 159, 11, 0.200);
}
.yearly .row.team .icon,
.yearly .row.team .info .progress {
  background-color: rgba(34, 197, 94, 0.200);
}
.yearly .info .progress > span.money > span::before {
  border-top-color: var(--blue-color);
}
.yearly .info .progress > span.code > span::before {
  border-top-color: var(--orange-color);
}
.yearly .info .progress > span.team > span::before {
  border-top-color: var(--green-color);
}
/* End Yearly Widget */
/* Start Tickets Widget  */
.tickets .box {
  border: 1px solid #ccc;
  width: calc(50% - 10px);
}
@media (max-width: 767px) {
  .tickets .box {
    width: 100%;
  }
}
/* End Tickets Widget  */
/* Start Latest News Widget  */
.latest .row:not(:last-of-type) {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 15px;
}
.latest .row img {
  width: 100px;
  border-radius: 6px;
  margin-right: 20px;
}
.latest .row .info {
  flex: 1;
}
.latest .row .info h3 {
  font-size: 16px;
  margin: 0 0 6px;
}
@media (max-width: 767px) {
  .latest .row {
    display: block;
  }
  .latest .row .label {
    margin: 10px auto;
    width: fit-content;
  }
}
/* End Latest News Widget  */
/* Stat Tasks Widget  */
.tasks .row:not(:last-of-type) {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #EEE;
}
.tasks .row .delete {
  cursor: pointer;
  transition-duration: 0.3s;
}
.tasks .row .delete:hover {
  color: var(--red-color);
}
.tasks .done {
  opacity: 0.3;
}
.tasks .done h3,
.tasks .done p {
  text-decoration: line-through;
}
/* End Tasks Widget  */
/* Start Uploads Widget */
.uploads .row:not(:last-of-type) {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.uploads .row img {
  width: 40px;
  margin-right: 10px;
}
.uploads .row .info {
  flex-grow: 1;
}
/* End Uploads Widget */
/* Start Project Progress Widget */
.project-progress ul {
  overflow: hidden;
}
.project-progress ul li > span {
  width: 30px;
  height: 30px;
  border: 2px solid var(--blue-color);
  margin-right: 15px;
}
.project-progress ul li:not(:last-of-type) > span::before {
  content: '';
  background-color: var(--blue-color);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 2px;
}
.project-progress ul li.done > span::after,
.project-progress ul li.current > span::after {
  content: '';
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: var(--blue-color);
  position: relative;
}
.project-progress ul li.current > span::after {
  opacity: 0;
  animation: hide-seek 1.6s ease-in-out infinite;
}
.project-progress .launch-icon {
  width: 160px;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: .1;
}
/* End Project Progress Widget */
/* Start Reminders Widget */
.reminders .row .symbol {
  display: flex;
  align-items: center;
  border-right: 2px solid;
}
.reminders .row .symbol::after {
  content: "";
  width: 15px;
  height: 15px;
  margin-right: 15px;
  border-radius: 50%;
  position: relative;
  right: 2px;
}
.reminders .row .tasks {
  border-right-color: var(--blue-color);
}
.reminders .row .tasks::after {
  background-color: var(--blue-color);
}
.reminders .row .projects {
  border-right-color: var(--green-color);
}
.reminders .row .projects::after {
  background-color: var(--green-color);
}
.reminders .row .clients {
  border-right-color: var(--orange-color);
}
.reminders .row .clients::after {
  background-color: var(--orange-color);
}
.reminders .row .workshop {
  border-right-color: var(--red-color);
}
.reminders .row .workshop::after {
  background-color: var(--red-color);
}
/* End Reminders Widget */
/* Start Post Widget */
.post > div:not(:last-of-type) {
  border-bottom: 1px solid #EEE;
}
.post .title img {
  width: 48px;
}
.post .comment {
  line-height: 1.8;
  min-height: 140px;
}
/* End Post Widget */
/* Start Social Media Widget */
.social-media .stat {
  flex-grow: 1;
}
.social-media .row .icon {
  transition-duration: .3s;
  width: 50px;
  height: 55px;
}
.social-media .row .icon:hover {
  transform: rotate(5deg);
}
.social-media .twitter {
  background-color: hsla(203, 89%, 53%, 0.200);
}
.social-media .twitter .icon,
.social-media .twitter a {
  background-color: #1da1f2;
}
.social-media .twitter .stat {
  color: #1da1f2;
}
.social-media .facebook {
  background-color: hsla(214, 89%, 52%, 0.200);
}
.social-media .facebook .icon,
.social-media .facebook a {
  background-color: #1877f2;
}
.social-media .facebook .stat {
  color: #1877f2;
}
.social-media .youtube {
  background-color: hwb(0 0% 0% / 0.200);
}
.social-media .youtube .icon,
.social-media .youtube a {
  background-color: #ff0000;
}
.social-media .youtube .stat {
  color: #ff0000;
}
.social-media .linkedin {
  background-color: hsla(201, 100%, 35%, 0.200);
}
.social-media .linkedin .icon,
.social-media .linkedin a {
  background-color: #0077B5;
}
.social-media .linkedin .stat {
  color: #0077B5;
}
/* End Social Media Widget */
/* Start Projects Table */
.projects-table .responsive-table {
  overflow-x: auto;
}
.projects-table table {
  border-collapse: collapse;
  min-width: 1000px;
}
.projects-table table td {
  padding: 15px;
  border: 1px solid #eee;
  transition-duration: .3s;
}
.projects-table table tbody tr:hover td {
  background-color: #faf7f7;
}
.projects-table table tbody td img {
  border-radius: 50%;
  width: 32px;
  border: 2px solid white;
}
.projects-table table tbody td img:not(:first-of-type) {
  margin-left: -20px;
}
/* End Projects Table */
/* Start Settings Page */
.settings-page {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
@media (max-width: 767px) {
  .settings-page {
    grid-template-columns: minmax(100px,1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
/* Start Toggle */
.toggle-checkbox {
  -webkit-appearance: none;
  appearance: none; 
  display: none;
}
.toggle-switch {
  width: 78px;
  height: 32px;
  border-radius: 16px;
  position: relative;
  background-color: #CCC;
  transition-duration: .3s;
  cursor: pointer;
}
.toggle-switch::before {
  display: flex;
  align-items: center;
  justify-content: center;
  content: '\f00d';
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
  color: var(--grey-color);
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 4px;
  transition-duration: .3s;
}
.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before {
  content: '\f00c';
  left: 50px;
  color: var(--blue-color);
}
/* Ene Toggle */
/* STart Disabled */
.settings-page :disabled {
  background-color: #f1f5f9;
  color: #bbb;
  cursor: no-drop;
}
/* End Disabled */
/* Start Site Control */
.site-control textarea {
  min-height: 150px;
  resize: none;
}
.site-control textarea::placeholder {
  font-size: 12px;
  color: var(--grey-color);
  letter-spacing: 1px;
} 
/* End Site Control */
/* Start General Info */
.general-info form input[type="text"]::placeholder {
  font-size: 14px;
}
.general-info form input[type="email"] {
  display: inline-flex;
  width: calc(100% - 80px);
  margin-right: 10px;
  font-size: 13px;
}
/* End General Info */
/* Start Security Info */
.security-info .row:first-of-type div > a {
  transition-duration: .3s;
}
.security-info .row:first-of-type div > a:hover {
  background-color: var(--blue-alt-color);
}
.security-info .row:not(:last-of-type) {
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  padding-bottom: 25px;
}
/* End Security Info */
/* Start Social Info */
.social-info .social-box {
  overflow: hidden;
  border: 1px solid #ddd;
}
.social-info .social-box .icon {
  border-right: 1px solid #ddd;
  background-color: #f6f6f6;
  width: 40px;
  height: 40px;
}
.social-info .social-box .icon i {
  transition-duration: .3s;
}
.social-info .social-box input {
  flex-grow: 1;
  background-color: #f6f6f6;
}
.social-info .social-box input::placeholder {
  font-size: 14px;
}
.social-info .social-box:focus-within .icon i {
  color: black;
}
/* End Social Info */
/* Start Widgets Control */
.widgets-control .box input {
  -webkit-appearance: none;
  appearance: none;
}
.widgets-control .box .shape {
  display: inline-flex;
  width: 17px;
  height: 17px;
  border-radius: 3px;
  border: 2px solid var(--grey-color);
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}
.widgets-control .box:hover .shape {
  border-color: var(--blue-color);
}
.widgets-control .box .shape::before {
  content: '\f00c';
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: white;
  font-size: 13px;
  width: 100%;
  height: 100%;
  background-color: var(--blue-color);
  transition-duration: .3s;
  transform: scale(0) rotate(1turn);
}
.widgets-control .box label {
  cursor: pointer;
}
.widgets-control .box input:checked + label .shape {
  border-color: var(--blue-color);
}
.widgets-control .box input:checked + label .shape::before {
  transform: scale(1) rotate(0turn);
}
/* End Widgets Control */
/* Start Backup Manager */
.backup-manager .f-chose {
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.backup-manager input {
  -webkit-appearance: none;
  appearance: none;
}
.backup-manager label {
  cursor: pointer;
}
.backup-manager .f-chose .f-box .shape {
  display: inline-flex;
  border: 2px solid var(--grey-color);
  width: 22px;
  height: 22px;
  margin-right: 10px;
  margin-left: 10px;
}
.backup-manager .f-chose .f-box:hover .shape {
  border-color: var(--blue-color);
}
.backup-manager .f-chose .f-box .shape::before {
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--blue-color);
  position: relative;
  transition-duration: .3s;
  transform: scale(0);
}
.backup-manager .f-chose .f-box input:checked + label .shape {
  border-color: var(--blue-color);
}
.backup-manager .f-chose .f-box input:checked + label .shape::before {
  transform: scale(1);
}
.backup-manager .s-chose .s-box {
  border: 2px solid #EEE;
  flex-grow: 1;
  margin-right: 5px;
  margin-left: 5px;
}
.backup-manager .s-chose .s-box label {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px;
}
.backup-manager .s-chose input:checked + .s-box {
  border-color: var(--blue-color);
  color: var(--blue-color);
} 
/* End Backup Manager */
/* End Settings Page */
/* End Content */
/* Start Animation */
@keyframes hide-seek {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
/* End Animation */