/* Start Variables */
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --border-grey-color: #CCC;
}
/* End Variables */
/* Start Global Rules */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}
*:focus {
  outline: none;
}
html {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -ms-scroll-behavior: smooth;
  -o-scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}
/* End Global Rules */
/* Start Sidebar */
.sidebar {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}
.sidebar > h3 {
  padding-bottom: 20px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .sidebar > h3::before,
  .sidebar > h3::after {
    content: "";
    background-color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .sidebar > h3::before {
    height: 2px;
    width: 80px;
    bottom: 0;
  }
  .sidebar > h3::after {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 4px solid white;
    bottom: -9px;
  }
}
.sidebar a {
  transition-duration: 300ms;
  margin-bottom: 5px;
}
.sidebar a.active,
.sidebar a:hover {
  background-color: #f6f6f6;
}
.sidebar ul li a span {
  margin-left: 10px;
  font-size: 14px;
}
@media (max-width: 767px) {
  .sidebar {
    width: 58px;
    padding: 10px;
  }
  .sidebar > h3 {
    font-size: 13px;
    margin-bottom: 15px;
    padding-bottom: 0;
  }
}
/* End Sidebar */
/* Start Content*/
.content {
  overflow: hidden;
}
/* Start Head  */
.head .search::before {
  content: '\f002';
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 14px;
  color: var(--grey-color, #888);
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.head .search input[type="search"] {
  display: block;
  width: 160px;
  padding: 10px 0 10px 30px;
  margin-left: 5px;
  border: 1px solid var(--border-grey-color);
  border-radius: 10px;
  transition-duration: 0.3s;
}
.head .search input[type="search"]:focus {
  width: 200px;
}
.head .search input[type="search"]::placeholder {
  font-size: 13px;
}
.head .search input[type="search"]:focus::placeholder {
  color: transparent;
}
.head .icons .notification::after {
  content: "";
  background-color: var(--red-color);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  right: -6px;
  top: -6px;
}
.head .icons img {
  width: 32px;
  margin-left: 15px;
}
/* End Head */
/* Start H1 Style */
.page h1 {
  margin: 20px 20px 40px;
}
.page h1::before,
.page h1::after {
  height: 3px;
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
}
.page h1::before {
  width: 120px;
  background-color: white;
}
.page h1::after {
  width: 40px;
  background-color: black;
}
/* End H1 Style */
/* Start Wrapper */
.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-right: 20px;
  margin-left: 20px;
}
@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
}
/* End Wrapper */
/* Start Welcome Widget */
.welcome {
  overflow: hidden;
}
@media (max-width: 767px) {
  .welcome .intro {
    padding-bottom: 30px;
  }
}
.welcome .intro img {
  width: 200px;
  margin-bottom: -10px;
}
.welcome > img {
  width: 64px;
  height: 64px;
  border: 5px solid white;
  border-radius: 50%;
  box-shadow: 0 0 5px #ddd;
  margin-top: -32px;
  margin-left: 20px;
}
@media (max-width: 767px) {
  .welcome > img {
    margin-left: auto;
    margin-right: auto;
  }
}
.welcome .body {
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
}
.welcome .body > div {
  flex: 1;
}
@media (max-width: 767px) {
  .welcome .body > div:not(:last-child) {
    margin-bottom: 20px;
  }
}
.welcome .visit {
  margin: 0 15px 15px auto;
  transition-duration: 0.3s;
}
.welcome .visit:hover {
  background-color: var(--blue-alt-color);
}
/* End Welcome Widget */
/* Start Quick Widget */
.quick-draft form .input {
  caret-color: var(--grey-color);
}
.quick-draft form textarea.input {
  height: 180px;
  resize: none;
}
.quick-draft form .input::placeholder {
  font-size: 13px;
}
.quick-draft form input[type="submit"] {
  margin-left: auto;
  transition-duration: 0.3s;
}
.quick-draft form input[type="submit"]:hover {
  background-color: var(--blue-alt-color);
}
/* End Quick Widget */
/* Start Yearly Widget */
.yearly .icon {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}
.yearly .info {
  flex: 1;
}
.yearly .info .progress {
  height: 4px;
}
.yearly .info .progress > span {
  height: 100%;
}
.yearly .info .progress > span > span {
  position: absolute;
  font-size: 13px;
  top: -35px;
  right: 0px;
  transform: translateX(50%);
  padding: 5px;
}
.yearly .info .progress > span > span::before {
  content: "";
  border: 5px solid;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.yearly .row.money .icon,
.yearly .row.money .info .progress {
  background-color: rgba(0, 119, 255, 0.200);
}
.yearly .row.code .icon,
.yearly .row.code .info .progress  {
  background-color: rgba(245, 159, 11, 0.200);
}
.yearly .row.team .icon,
.yearly .row.team .info .progress {
  background-color: rgba(34, 197, 94, 0.200);
}
.yearly .info .progress > span.money > span::before {
  border-top-color: var(--blue-color);
}
.yearly .info .progress > span.code > span::before {
  border-top-color: var(--orange-color);
}
.yearly .info .progress > span.team > span::before {
  border-top-color: var(--green-color);
}
/* End Yearly Widget */
/* Start Tickets Widget  */
.tickets .box {
  border: 1px solid #ccc;
  width: calc(50% - 10px);
}
@media (max-width: 767px) {
  .tickets .box {
    width: 100%;
  }
}
/* End Tickets Widget  */
/* Start Latest News Widget  */
.latest .row:not(:last-of-type) {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 15px;
}
.latest .row img {
  width: 100px;
  border-radius: 6px;
  margin-right: 20px;
}
.latest .row .info {
  flex: 1;
}
.latest .row .info h3 {
  font-size: 16px;
  margin: 0 0 6px;
}
@media (max-width: 767px) {
  .latest .row {
    display: block;
  }
  .latest .row .label {
    margin: 10px auto;
    width: fit-content;
  }
}
/* End Latest News Widget  */
/* Stat Tasks Widget  */
.tasks .row:not(:last-of-type) {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #EEE;
}
.tasks .row .delete {
  cursor: pointer;
  transition-duration: 0.3s;
}
.tasks .row .delete:hover {
  color: var(--red-color);
}
.tasks .done {
  opacity: 0.3;
}
.tasks .done h3,
.tasks .done p {
  text-decoration: line-through;
}
/* End Tasks Widget  */
/* End Content */